<h3 class="fs-5 fw-bold">
	{{ 'Recipes.Ingredients' | translate }}
</h3>

<div class="form-container" #stickyFrom>
	<form
		[formGroup]="ingredientForm"
		#ngForm="ngForm"
		(ngSubmit)="ingredientFromSubmitButton.focus(); submit(ngForm)">
		<div class="row mt-3">
			<div class="col-6 col-lg-3 amount">
				<input
					type="number"
					class="form-control"
					formControlName="amount"
					[class.is-invalid]="
						(amount.touched || ngForm.submitted) && !!amount.errors
					"
					placeholder="Amount" />
				<app-form-error [input]="amount" [form]="ngForm"></app-form-error>
			</div>

			<div class="col-6 col-lg-3">
				<select
					class="form-select"
					aria-label="select unit"
					[class.is-invalid]="
						(ingredientForm.controls.unit.touched || ngForm.submitted) &&
						!!ingredientForm.controls.unit.errors
					"
					formControlName="unit">
					<option
						*ngFor="let unit of units.weight | keyvalue"
						[value]="unit.key">
						{{ unit.key }}
					</option>
					<option
						*ngFor="let unit of units.volume | keyvalue"
						[value]="unit.key">
						{{ unit.key }}
					</option>
					<option *ngFor="let unit of units.other" [value]="unit">
						{{ unit }}
					</option>
				</select>
				<app-form-error
					[input]="ingredientForm.controls.unit"
					[form]="ngForm"></app-form-error>
			</div>
			<div class="col-12 col-lg-6 mt-3 mt-lg-0">
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						placeholder="Name"
						[class.is-invalid]="
							(name.touched || ngForm.submitted) && !!name.errors
						"
						formControlName="name" />
					<button
						type="button"
						class="btn btn-danger"
						aria-label="Reset"
						(click)="ngForm.reset(); mode = 'add'">
						<i class="bi bi-x-lg"></i>
					</button>
				</div>
				<app-form-error [input]="name" [form]="ngForm"></app-form-error>
			</div>
		</div>
		<button
			type="submit"
			#ingredientFromSubmitButton
			class="btn btn-outline-primary mt-3">
			{{ submitButtonText | translate }}
		</button>
	</form>
</div>

<div class="row mt-4">
	<div class="col-12 col-md-5 searcher">
		<label for="seachInput" class="form-label">{{
			'App.Search' | translate
		}}</label>
		<input
			type="text"
			class="form-control"
			id="seachInput"
			#queryString
			(input)="setQueryString(queryString.value)" />
		<div class="icon">
			<i class="bi bi-search"></i>
		</div>
	</div>
</div>

<div
	class="ingredients-list mt-5"
	*ngIf="(ingredientList$ | async)?.length; else tableEmpty">
	<div class="list-header">
		<div class="lp">#</div>
		<div
			class="amount header-amount"
			[class.selected]="(sortKey | async) === sortKeyEnum.Amount"
			(click)="changeSortKey(sortKeyEnum.Amount)">
			{{ 'Ingredients.Amount' | translate }}
			<div
				class="icons"
				[class]="
					(sortDirection | async) === sortDirectionEnum.ASC ? 'asc' : 'desc'
				">
				<i class="bi bi-caret-up-fill top"></i>
				<i class="bi bi-caret-down-fill bottom"></i>
			</div>
		</div>
		<div
			class="name header-name"
			[class.selected]="(sortKey | async) === sortKeyEnum.Name"
			(click)="changeSortKey(sortKeyEnum.Name)">
			{{ 'Ingredients.Name' | translate }}
			<div
				class="icons"
				[class]="
					(sortDirection | async) === sortDirectionEnum.ASC ? 'asc' : 'desc'
				">
				<i class="bi bi-caret-up-fill top"></i>
				<i class="bi bi-caret-down-fill bottom"></i>
			</div>
		</div>
	</div>
	<div class="list-elements">
		<div
			class="list-element"
			@fadeIn
			*ngFor="let ingredient of ingredientList$ | async; let i = index">
			<div class="lp">{{ i + 1 }}</div>
			<div class="amount">
				<span class="mobile-label text-primary"
					>{{ 'Ingredients.Amount' | translate }}:</span
				>
				{{ { amount: ingredient.amount, unit: ingredient.unit } | convertUnit }}
			</div>
			<div class="name">
				<div class="text">
					<span class="mobile-label text-primary">
						{{ 'Ingredients.Name' | translate }} :</span
					>
					{{ ingredient.name }}
				</div>
			</div>

			<div class="buttons">
				<button
					type="button"
					class="btn btn-primary"
					(click)="editIngredient(ingredient)">
					<i class="bi bi-pencil"></i>
				</button>
				<button
					type="button"
					class="btn btn-danger"
					(click)="removeIngredient(ingredient, modal)">
					<i class="bi bi-x-circle"></i>
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template #tableEmpty>
	<div class="text-primary text-center">
		{{ 'App.NoIngredientsInShoppingList' | translate }}
	</div>
</ng-template>

<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">
			{{
				'Modals.ConfirmRemove'
					| translate: { what: 'Modals.Ingredient' | translate }
			}}
		</h4>
		<button
			type="button"
			class="btn-close"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>
			<strong
				>{{ 'Modals.AreYouSureYouWantToDelete' | translate }}
				<span class="text-primary">{{ ingredientToDelete?.name }}</span
				>?</strong
			>
		</p>
		<span class="text-danger">{{
			'Modals.ThisOperationCanNotBeUndone' | translate
		}}</span>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary"
			(click)="modal.dismiss('cancel click')">
			{{ 'Modals.Cancel' | translate }}
		</button>
		<button
			type="button"
			class="btn btn-danger"
			(click)="modal.close('Ok click')">
			Ok
		</button>
	</div>
</ng-template>
