@import '~bootstrap/scss/mixins';/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/functions';/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/variables';/* Importing Bootstrap SCSS file. */

.col-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .buttons {
        display: flex;
        gap: 20px;
        opacity: 0;
        transition: opacity .2s ease-out;
        font-size: 20px;
    }

    &:hover {
        .buttons {
            opacity: 1;
        }
    }
}

