/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$primary: rgb(246 189 65);

/* Importing Bootstrap SCSS file. */
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '~bootstrap/scss/bootstrap';
