@import 'https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&display=swap';

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-break: break-word;
}

html,
body {
	height: 100%;
}

body {
	font-family: Epilogue, 'Helvetica Neue', sans-serif;
	margin: 0;
}

$navbar-dark-color: rgb(255 255 255 / 70%);
$btn-link-hover-color: red;
$primary: rgb(246 189 65);

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import '~bootstrap/scss/bootstrap';/* Importing Bootstrap SCSS file. */

.btn-primary {
	color: #fff;

	&:hover {
		color: rgba(255 255 255 / 70%);
	}

	&:focus {
		background:rgb(234 161 4);
		color: #fff;
	}
}

.btn-outline-primary {
	&:hover, &:focus {
		color: #fff;
	}
}