@import '~bootstrap/scss/mixins';/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/functions';/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/variables';/* Importing Bootstrap SCSS file. */
$logo-background: #fdfdfd;
$logo-circle: #e1e1e1;
$recipes-cards-background: rgb(242 242 242);
$primary: rgb(246 189 65);
