<div class="col-12 col-md-7">
	<form [formGroup]="registerForm" #ngForm="ngForm" (ngSubmit)="register()">
		<h3 class="mb-3">{{ 'Navigation.Register' | translate }}</h3>
		<div class="mb-3">
			<label for="emailInput" class="form-label">{{
				'App.EmailAddress' | translate
			}}</label>
			<input
				type="email"
				class="form-control"
				id="emailInput"
				formControlName="email"
				placeholder="name@example.com"
				[class.is-invalid]="
					(email?.touched || ngForm.submitted) && !!email?.errors
				" />
			<app-form-error [input]="email" [form]="ngForm"></app-form-error>
		</div>

		<div class="mb-3">
			<label for="passwordInput" class="form-label">{{
				'App.Password' | translate
			}}</label>
			<input
				type="password"
				class="form-control"
				id="passwordInput"
				formControlName="password"
				#passwordInput
				(input)="testPasswordStrength(passwordInput.value)"
				[class.is-invalid]="
					(password?.touched || ngForm.submitted) && !!password?.errors
				"
				placeholder="{{ 'App.Password' | translate }}" />
			<app-form-error [form]="ngForm" [input]="password"></app-form-error>

			<div class="password-strength mt-2">
				<small>{{ 'App.Auth.PasswordStrength' | translate }}</small>
				<ngb-progressbar
					[type]="progresBarColor"
					height="5px"
					[value]="passwordStrength"></ngb-progressbar>
			</div>
		</div>

		<div class="mb-3">
			<label for="passwordConfirmInput" class="form-label">{{
				'App.Auth.ConfirmPassword' | translate
			}}</label>
			<input
				type="password"
				class="form-control"
				id="passwordConfirmInput"
				formControlName="passwordConfirm"
				[class.is-invalid]="
					(passwordConfirm?.touched || ngForm.submitted) &&
					!!passwordConfirm?.errors
				"
				placeholder="{{ 'App.Auth.ConfirmPassword' | translate }}" />
			<div
				class="text-danger"
				*ngIf="password?.touched &&  passwordConfirm?.touched && !!registerForm?.errors?.['passwordConfirm']">
				<small>
					{{ 'App.Validation.ConfirmPassword' | translate }}
				</small>
			</div>
		</div>

		<button type="submit" class="btn btn-outline-primary">
			{{ 'Navigation.Register' | translate }}
		</button>
	</form>
</div>
