<div class="row" *ngIf="!!recipe">
	<div class="col-12 col-md-8 card-wrapper">
		<app-recipe-card [recipe]="recipe"></app-recipe-card>
	</div>
	<div class="col-12 col-md-8 mt-4 description">
		<p class="fs-6">
			{{ recipe.description }}
		</p>
	</div>
	<div class="col-12 col-md-4 ingredients">
		<div class="row mb-5 mb-md-3" *ngIf="user?.uid === recipe.ownerId">
			<div class="col-6">
				<a
					[routerLink]="'/recipe/edit/' + recipe.id"
					class="btn btn-outline-primary w-100"
					>{{ 'App.Edit' | translate }}</a
				>
			</div>
			<div class="col-6">
				<button
					class="btn btn-outline-danger w-100"
					(click)="removeRecipe(modal)">
					{{ 'App.Delete' | translate }}
				</button>
			</div>
		</div>
		<h3 class="fs-4 mt-5 mt-md-3">{{ 'Recipes.Ingredients' | translate }}</h3>
		<div
			class="ingredient mt-4 mt-sm-2"
			*ngFor="let ingredient of recipe.ingredients">
			<div class="row mt-2">
				<div class="col-4">{{ ingredient.amount }} {{ ingredient.unit }}</div>
				<div class="col-8 position-relative">
					{{ ingredient.name }}
				</div>
			</div>
			<button
				class="add-to-shopping-list btn btn-primary mt-2 mt-sm-0"
				(click)="addIngredientToShippingList(ingredient)">
				<small>add <i class="bi bi-basket-fill"></i> </small>
			</button>
		</div>
		<div class="row" *ngIf="!recipe.ingredients.length">
			<div class="col-12">{{ 'Recipes.NoIngredients' | translate }}</div>
		</div>
		<ng-template role="button" [ngIf]="!!recipe.ingredients.length">
			<button
				class="text-primary mt-4 add-ingredients-to-shopping-list"
				(click)="addAllIngredientsToShippingList(recipe.ingredients)">
				{{ 'App.AddIngredientsToShoppingList' | translate }}
			</button>
		</ng-template>
	</div>
	<ng-container *ngIf="recipe.instructions.length > 0">
		<div class="col-12 col-md-8 mt-5 mt-md-4 recipe pb-3">
			<h3 class="fs-4">{{ 'Preparing' | translate }}</h3>
			<p *ngFor="let instruction of recipe.instructions; let i = index">
				<span>{{ i + 1 }}</span>
				{{ instruction }}
			</p>
		</div>
	</ng-container>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="!recipe">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">{{ 'App.Loading' | translate }} </span>
	</div>
</div>

<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">
			{{
				'Modals.ConfirmRemove'
					| translate: { what: 'Modals.Recipe' | translate }
			}}
		</h4>
		<button
			type="button"
			class="btn-close"
			aria-describedby="modal-title"
			(click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>
			<strong
				>{{ 'Modals.AreYouSureYouWantToDelete' | translate }}
				<span class="text-primary">{{ recipe?.title }}</span
				>?</strong
			>
		</p>
		<span class="text-danger">{{
			'Modals.ThisOperationCanNotBeUndone' | translate
		}}</span>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-outline-secondary"
			(click)="modal.dismiss('cancel click')">
			{{ 'Modals.Cancel' | translate }}
		</button>
		<button
			type="button"
			class="btn btn-danger"
			(click)="modal.close('Ok click')">
			Ok
		</button>
	</div>
</ng-template>
