@use 'variables' as *;


.recipe-details {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(sm) {
        grid-template-areas:
        "image right"
        "description right"
        "instructions right";
      grid-template-columns: 3fr 1fr;
      column-gap: 25px;
    }

    .card-wrapper {
        height: 400px;
        @include media-breakpoint-up(sm) {
            grid-area: image;
        }
    }

    .description {
        color: $gray-600;
        word-wrap: break-word;
        @include media-breakpoint-up(sm) {
            grid-area: description;
        }
    }

    .right {
        @include media-breakpoint-up(sm) {
            grid-area: right;
        }
    }

    .instructions {
        @include media-breakpoint-up(sm) {
            grid-area: instructions;
        }
    }

    .recipe p {
        color: $gray-600;
        margin-top: 15px;

        span::after {
            content: '.';
            margin-right: 10px;
        }
    }

    .ingredients-list {
        .ingredient {
            position: relative;
            color: $gray-600;
            margin-top: 200px;

            @include media-breakpoint-down(sm) {
                box-shadow: 4px 4px 12px 2px rgb(66 68 90 / 25%);
                padding: 15px;
                color: $gray-700;
                margin-top: 20px;
                border-radius: 8px;
            }

            .units {
                word-break: normal;
            }

            .add-to-shopping-list {
                display: flex;
                justify-content: flex-end;
            }

            button {
                width: 40%;
        
                @include media-breakpoint-up(sm) {
                    width: fit-content;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    color: $primary;
                    background: #fff;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: all .3s ease-out;

                    &:hover {
                        background: $primary;
                        color: #fff;                }
                }
            }

            &:hover button {
                opacity: 1;
            }
        }
    }

    .add-ingredients-to-shopping-list {
        background-color: transparent;
        border: none;
        text-decoration: underline
    }
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}