
@import '~bootstrap/scss/mixins'; /* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/functions'; /* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/variables'; /* Importing Bootstrap SCSS file. */

.recipes-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

	@include media-breakpoint-up(sm) {
		grid-template-columns: 1.25fr 1fr;
	}

	@include media-breakpoint-up(md) {
		grid-template-columns: 1.25fr 1fr 1fr;
	}

	grid-auto-rows: 380px;
	justify-content: space-between;
}


.input-wrapper {
	position: relative;

	.icon {
		position: absolute;
		bottom: 7px;
		right: 18px;
		color: $gray-500;
	}
}