@use 'variables' as *;

.recipes-cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;

	@include media-breakpoint-up(sm) {
		grid-template-columns: 1.25fr 1fr;
	}

	@include media-breakpoint-up(md) {
		grid-template-columns: 1.25fr 1fr 1fr;
	}

	grid-auto-rows: 380px;
	justify-content: space-between;
}


.input-wrapper {
	position: relative;

	.icon {
		position: absolute;
		bottom: 7px;
		right: 18px;
		color: $gray-500;
	}
}

.sorting-groupe-buttons:has(select:focus){
	border-radius: $form-select-border-radius;
	box-shadow: $form-select-focus-box-shadow;

	select:focus{
		box-shadow: none;
	}
}
