<h3 class="mb-4">{{ 'Recipes.LatestRecipes' | translate }}</h3>
<div class="recipes-cards pb-3" *ngIf="recipes$ | async as recipes">
	<div class="card-wrapper" *ngFor="let recipe of recipes">
		<a [routerLink]="'/recipe/' + recipe.id">
			<app-recipe-card [recipe]="recipe"></app-recipe-card>
		</a>
	</div>
</div>

<div
	class="d-flex justify-content-center mt-3"
	*ngIf="(recipesAreLoaded$ | async) !== dataState.Loaded">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">{{ 'App.Loading' | translate </span>
	</div>
</div>
