@use 'variables' as *;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 90%;
        margin-top: 20px;

        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    .text {
        text-align: center;
    }
}