@use 'variables' as *;

nav {
	// margin-bottom: 50px;
}

.logo {
	position: relative;
	background: $logo-background;
	width: 38px;
	height: 38px;
	border-radius: 6px;

	&::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background: $logo-circle;
		border-radius: 50%;
	}
}

.language-wrapper {
	display: flex;
	justify-content: flex-end;

	.language-selector {
		margin-top: 20px;
		position: relative;

		button {
			background: none;
			border: none;
			color: $gray-600;

			&:hover {
				color: $gray-700;
			}
		}


		.language-list {
			position: absolute;
			width: max-content;
			background: $gray-100;
			padding: 8px 18px 12px;
			border-radius: 8px;
			right: 0;
			top: 28px;
			z-index: 110;
			box-shadow: 4px 4px 12px 0 rgb(66 68 90 / 54%);
			overflow: hidden;
			
			button {
				font-weight: 300;
				word-break: keep-all;
			}
		}
	}
}