<div class="recipesCards">
	<div class="recipeCard" *ngFor="let recipe of recipes$ | async">
		<img [src]="recipe.imageUrl" [alt]="recipe.title" />
		<div class="text">
			<div class="time">{{ recipe.time }} min</div>
			<div class="title">{{ recipe.title }}</div>
		</div>
	</div>
	<div class="recipeCard" *ngFor="let recipe of recipes$ | async">
		<img [src]="recipe.imageUrl" [alt]="recipe.title" />
		<div class="text">
			<div class="time">{{ recipe.time }} min</div>
			<div class="title">{{ recipe.title }}</div>
		</div>
	</div>
</div>
