@use 'variables' as *;

.image {
	.image-preview {
		img {
			width: 100%;
			height:220px; 
			object-fit: cover;
			border-radius: 8px;
		};
	}
}

.time-grope:has(input:focus){
	border-radius: $form-select-border-radius;
	box-shadow: $form-select-focus-box-shadow;

	input:focus{
		box-shadow: none;
	}
}

.time-grope:has(.is-invalid:focus){
	border: 1px $danger solid;
	border-radius: $form-select-border-radius;
	box-shadow: none;

	input:focus{
		box-shadow: none;
	}
}

.description textarea{
	transition: all .3s ease-out;
	height: 120px;
}

.description textarea:focus {
	height: 300px;
}

.name-grope:has(input:focus){
	border-radius: $form-select-border-radius;
	box-shadow: $form-select-focus-box-shadow;

	input:focus{
		box-shadow: none;
	}
}

.instruction {
	position: relative;

	button {
		position: absolute;
		top: 0;
		right: 0;
		transition: scale .3s ease-out;
		width: 42px;
		height: 38px;
		font-family: 17rem;
	}

	&:hover button {
		scale: 1;
	}
}
