@import '~bootstrap/scss/mixins'; /* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/functions'; /* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/variables'; /* Importing Bootstrap SCSS file. */

.image {
	.image-preview {
		img {
			width: 100%;
			height:220px; 
			object-fit: cover;
			border-radius: 8px;
		};
	}
}

.instruction {
	position: relative;

	button {
		position: absolute;
		top: 8px;
		right: 8px;
		transition: scale .3s ease-out;
		scale: 0;
	}

	&:hover button {
		scale: 1;
	}
}
